body {
    margin: 0;
    background-color: #050011;
    font-family: "Fira Code", monospace;
}
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    display: block;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
