.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.5rem;
  background-color: #050011;
  position: relative;
}

.header-hamb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.1875rem;
  height: 1.5625rem;
  cursor: pointer;
  z-index: 10;
}

.header-hamb span {
  display: block;
  height: 0.25rem;
  background-color: #90e1ff;
  border-radius: 0.125rem;
  transition: 0.3s;
}

.menu-dropdown {
  position: absolute;
  top: 3.75rem;
  right: 0;
  width: 11.25rem;
  background-color: #90e1ff;
  border-radius: 0.5rem;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  transform: translateY(-0.625rem);
  transition: all 0.3s ease;
}

.menu-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown ul li a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #050011;
  font-size: 1rem;
}

.menu-dropdown ul li a:hover {
  background-color: #00cfe8;
  color: #050011;
}

.menu-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-hamb.active span:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.header-hamb.active span:nth-child(2) {
  opacity: 0;
}

.header-hamb.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0.375rem, -0.375rem);
}
