.sobre {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding-bottom: 60px;
}
.sobre-conteudo {
  h1 {
    padding-bottom: 12px;
  }
  h2 {
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 10px;
  }
}
.sobre-img {
  border-radius: 50%;
}
.sobre-lista {
  display: flex;
  gap: 30px;
  a {
    position: relative;
    display: block;
  }
  a:hover {
    color: var(--p1);
  }
  a:hover::after {
    width: 100%;
  }
  a::after {
    content: "";
    display: block;
    width: 0%;
    height: 4px;
    background: var(--p1);
    margin-top: 2px;
    transition: 0.5s;
    position: absolute;
  }
}
@media (max-width: 1024px) {
  .sobre-img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
@media (max-width: 600px) {
  .sobre {
    gap: 0px;
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }
  .sobre-img {
    display: none;
  }
}
