.lojas-contato-bg {
  background: var(--c1);
}
.lojas-contato {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}
.lojas-contato h1 {
  padding-bottom: 60px;
}
.lojas-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.lojas-lista-info {
  padding: 32px 60px;
  background: var(--w);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.lojas-lista-info h2 {
  padding-bottom: 32px;
  position: relative;
}
.lojas-lista-info h2::before {
  content: "";
  top: 16px;
  left: -22px;
  width: 12px;
  position: absolute;
  height: 8px;
  background: var(--p1);
}
.lojas-lista-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 32px;
}
.lojas-lista-lista ul {
  padding: 0 12px;
  border-left: solid 2px var(--c2);
}
.lojas-lista-lista li {
  padding-top: 8px;
  padding-bottom: 8px;
}
.lojas-lista-info span {
  position: relative;
}
.lojas-lista-info span::before {
  content: "";
  width: 100%;
  top: 0px;
  left: -26px;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(/img/icones/horario.svg);
}
@media (max-width: 1200px) {
  .lojas-lista-info h2::before {
    display: none;
  }
  .lojas-lista-info {
    padding: 20px 40px;
  }
  .lojas-lista-info span {
    padding: 0 20px;
  }
  .lojas-lista-info span::before {
    left: -4px;
  }
}
@media (max-width: 800px) {
  .lojas-lista-lista {
    grid-template-columns: 1fr;
  }
  .lojas-lista-lista ul:first-child {
    margin-bottom: 32px;
  }
  .lojas-contato {
    padding: 0 20px;
    padding-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .lojas-lista {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .lojas-contato {
    padding: 0 20px;
    padding-bottom: 60px;
  }
}
